body,
html {
    height: 90%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: linear-gradient(to bottom, #c1c1c1 0%, #fbfbfb 100%);
}

.m {
    background: linear-gradient(to top, #c1c1c1 0%, #fbfbfb 100%);

}

.header1 {

    background: #23475B;
}

.myColor {
    background-color: #152b37;
}

.title {

    color: #23475B;
}

/*body {font-family: Arial;}*/

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #23475B;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
    color: black;
}

/* Create an active/current tablink class */

.activeBut {
    background-color: #152b37;
    color: white;
}

/* Style the tab content */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("Images/a.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 33.33%;
    padding: 10px; 
    
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
.myText{
    text-align: justify;
    padding-left: 13px;
    padding-right: 13px;
    line-height: 1.8;
    
}
.myText2{
    text-align: justify;
    padding-left: 35px;
    
}

.myFooter{
    color: white;
    
}
.myTable{
    border:"1";
    width:"100%";

    padding-left: 5px;
    padding-right: 5px;
  
    padding-bottom: 5px;
    }

.myPadding{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

input[type=text], input[type=password]{
    font-family:inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
 border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: black;
    font-size: 16px;
}
textarea {
font-family:inherit;
        width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.textarea2 {
font-family:inherit;
        width: 100%;
    height: 100px;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #23475B;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width:100%;
}
.column2 {
    float: left;
    width: 50%;
   padding-right: 10px;
    
}
.column3 {
    float: left;
    width: 50%;
   padding-left: 10px;
    
}
.mySelect{
      font-family:inherit;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
 border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: black;
    font-size: 16px; 

}
.tab2{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #c1c1c1;
}
/* Style the buttons inside the tab */
.tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab2 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab2 button.active {
    background-color: #ccc;
}

/* Style the tab content */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #23475B;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #23475B;;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.ds{
    font-family:inherit;
    font-size: 16;
}
.p{
    
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.p1{
      padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px
}




.displayMyInfo{
   border: 1px solid black;
    padding-bottom:25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    width: 100%;
    
}